/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  background-color: #FBFBFB;
}

h1 {
  font-size: 120px;
  font-weight: 900;
}

h2 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 24px;
}

h3 {
  font-size: 28px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

.df {
  display: flex;
}

.tdn {
  text-decoration: none;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.fdcolumn {
  flex-direction: column;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.divider {
  width: 40px;
  height: 3px;
  background-color: #0027D5;
  margin: 24px 0px;
  border-radius: 30px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-16 {
  padding-bottom: 16px;
}

.mr-8 {
  margin-right: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mt-16 {
  margin-top: 16px;
}

.textBlue {
  color: #0027D5;
}

.fw-m {
  font-weight: 500;
}

.btnGray {
  text-decoration: none;
  border-radius: 40px;
  border: 1px solid black;
  padding: 8px 16px;
  color: #4B4B4B;
  display: inline-block;
}

.btnBlue {
  text-decoration: none;
  border-radius: 40px;
  border: 1px solid #0027D5;
  padding: 8px 16px;
  color: #0027D5;
  display: inline-block;
  background: #FFF;
}

.borderB {
  border-bottom: 1px solid #4B4B4B;
}

.borderT {
  border-top: 1px solid #4B4B4B;
}

header nav li {
  margin: 24px 20px;
}
header nav li a {
  text-decoration: none;
  font-size: 28px;
  font-weight: 700;
  color: black;
}

.banner {
  position: relative;
}
.banner .leftBanner {
  width: 50%;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section.png?raw=true);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .rightBanner {
  width: 50%;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true;);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .rightBanner .bannerText {
  margin: 50% 10%;
  color: #0027D5;
  font-size: 28px;
}
.banner .bannerAbout {
  position: absolute;
  max-width: 1077px;
  background-color: white;
  margin: 12px;
  padding: 80px 40px;
  right: 30px;
  bottom: -100px;
}
.banner .bannerAbout .bannerAboutText {
  font-size: 28px;
  padding-bottom: 16px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 52px;
  }
  .banner {
    flex-direction: column;
  }
  .banner .leftBanner {
    width: 100%;
    height: 375px;
  }
  .banner .rightBanner {
    width: 100%;
    height: 375px;
  }
  .banner .rightBanner .bannerText {
    margin: 10% 24px;
  }
  .banner .bannerAbout {
    right: 0px;
    bottom: -25%;
    padding: 12px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .banner .bannerAbout .bannerAboutText {
    font-size: 24px;
  }
}
.service {
  max-width: 1296px;
  margin: 80px auto;
}
.service .serviceImg {
  max-width: 50%;
}
.service .serviceAll {
  padding: 32px 110px;
}
.service .serviceAll .serviceItem {
  margin-bottom: 64px;
}
.service .serviceAll .serviceItem .serviceCon {
  background-color: white;
  max-width: 480px;
  margin: auto 0;
  padding: 24px;
  z-index: 1;
}
.service .serviceAll .serviceItem .serviceCon p {
  font-size: 16px;
  font-weight: 500;
  color: #4B4B4B;
}
.service .serviceAll .serviceItem .ml-05 {
  margin-left: -5%;
}
.service .serviceAll .serviceItem .mr-05 {
  margin-right: -5%;
}
.service .more {
  justify-content: flex-end;
  font-size: 28px;
  font-weight: 500;
}
.service .more img {
  height: 40px;
}

@media (max-width: 768px) {
  .service {
    margin: 200px auto;
  }
  .service h2 {
    font-size: 48px;
  }
  .service .serviceAll {
    margin: 0;
    padding: 0;
  }
  .service .serviceAll .serviceItem {
    flex-direction: column;
    padding: 16px 12px;
    margin-bottom: 0px;
  }
  .service .serviceAll .serviceItem .serviceImg {
    order: 0;
    max-width: 100%;
  }
  .service .serviceAll .serviceItem .serviceCon {
    order: 1;
    width: 100%;
    margin: 0;
  }
  .service .serviceAll .serviceItem .ml-05,
  .service .serviceAll .serviceItem .mr-05 {
    margin: 0;
  }
  .service .more {
    padding-right: 12px;
    flex-direction: column;
    align-items: flex-end;
  }
  .service .more img {
    width: auto;
  }
}
.blogLink {
  max-width: 1432px;
  margin: 80px auto;
  border-top: 1px solid black;
}
.blogLink h2 {
  font-size: 48px;
}
.blogLink .blogCon {
  align-items: center;
}
.blogLink .blogCon .blogArrow {
  width: 44px;
  display: inline-block;
}
.blogLink .blogCon .blogItem {
  max-width: 33%;
  margin: 0 12px;
}
.blogLink .blogCon .blogTag {
  font-size: 24px;
  color: #0027D5;
}
.blogLink .blogCon .blogTag .tag {
  font-size: 16px;
  background-color: #0027D5;
  color: white;
  border-radius: 40px;
  padding: 6px 12px;
}
.blogLink .mobileArrow {
  display: none;
}

@media (max-width: 768px) {
  .blogLink {
    padding: 0 16px;
    position: relative;
  }
  .blogLink .blogCon {
    overflow: hidden;
    flex-wrap: nowrap;
    position: relative;
    padding-bottom: 64px;
  }
  .blogLink .blogCon .blogItem {
    display: none;
    max-width: 100%;
    margin: 0;
  }
  .blogLink .blogCon .blogItem.active {
    display: block;
  }
  .blogLink .blogCon .blogArrow {
    display: none;
  }
  .blogLink .mobileArrow {
    display: flex;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    gap: 8px;
    z-index: 10;
  }
  .blogLink .mobileArrow .arrowBtn {
    width: 40px;
    height: 40px;
  }
}
.case {
  border-top: 1px solid black;
  max-width: 1296px;
  margin: 0 auto;
  margin-bottom: 64px;
  padding: 0 12px;
}
.case h2 {
  font-size: 48px;
}
.case .caseImg {
  width: 60%;
  background-color: #EDEDED;
  padding: 24px;
}
.case .caseText {
  width: 50%;
}
.case .caseText .caseTextTop {
  max-width: 526px;
  max-height: 296px;
  padding: 80px 40px;
  background-color: #fff;
  margin-left: -20%;
  margin-top: 5%;
}
.case .caseText .caseTextBottom {
  max-height: 312px;
  padding: 80px 40px;
  background-color: #F5F5F5;
  margin-left: 10%;
  margin-top: -10%;
}
.case .stories {
  margin-top: 40px;
  padding: 24px;
  gap: 20px;
  background-color: #F5F5F5;
}
.case .stories .storiesItem .check {
  width: 1rem;
  height: 1rem;
}

@media (max-width: 768px) {
  .caseCon {
    flex-direction: column;
  }
  .caseCon .caseImg {
    width: 100%;
  }
  .caseCon .caseText {
    width: 100%;
  }
  .caseCon .caseText .caseTextTop {
    margin: 0;
    padding: 40px 24px;
  }
  .caseCon .caseText .caseTextBottom {
    margin: 0;
    padding: 40px 24px;
  }
  .stories {
    flex-direction: column;
  }
  .stories .storiesItem .check {
    width: 1rem;
    height: 1rem;
  }
}
.news {
  border-top: 1px solid black;
}
.news .peopleImg {
  width: 50%;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/photo9.png?raw=true);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.news .newsCon {
  width: 50%;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.news .newsText {
  margin: 50% 10%;
  background-color: #fff;
  padding: 80px;
  gap: 24px;
}
.news .newsText .newsInput {
  background: #F1F1F1;
  border: none;
  padding: 8px 16px;
  width: 100%;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .news {
    flex-direction: column;
  }
  .news .peopleImg {
    width: 100%;
    height: 375px;
  }
  .news .newsCon {
    width: 100%;
  }
  .news .newsCon .newsText {
    margin: 12px;
    padding: 40px 24px;
  }
  .news .newsCon .newsText h2 {
    font-size: 48px;
  }
}
.contact {
  border-top: 1px solid black;
  max-width: 1296px;
  margin: 80px auto;
}
.contact .contactList {
  border-bottom: 1px solid black;
  padding: 16px 0px;
  display: flex;
  justify-content: space-between;
}
.contact .contactList span {
  font-size: 28px;
}
.contact .contactList span a {
  color: #000;
  font-size: 32px;
}

@media (max-width: 768px) {
  .contact {
    padding: 0 12px;
  }
  .contact .contactList {
    flex-direction: column;
  }
  .contact .contactList span {
    font-size: 24px;
  }
  .contact .contactList span a {
    font-size: 24px;
  }
}
footer {
  padding: 24px 0;
  display: flex;
  justify-content: center;
}

.heroSection .hero {
  width: 50%;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section.png?raw=true);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heroSection .heroCon {
  width: 50%;
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true;);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.heroSection .heroCon .heroText {
  margin: 50% 10%;
  color: #0027D5;
  font-size: 28px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 52px;
  }
  .heroSection {
    flex-direction: column;
  }
  .heroSection .hero {
    width: 100%;
    height: 375px;
  }
  .heroSection .heroCon {
    width: 100%;
  }
  .heroSection .heroCon .heroText {
    margin: 10% 24px;
  }
}
.featured .featuredImg {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/blog/About%20Section.png?raw=true);
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.featured .featuredCon {
  max-width: 636px;
  gap: 24px;
  padding-top: 80px;
  padding-right: 120px;
  padding-bottom: 80px;
  padding-left: 16px;
  margin: 10% 0;
}
.featured .featuredCon .blogTag {
  font-size: 24px;
  color: #0027D5;
}
.featured .featuredCon .tag {
  font-size: 16px;
  background-color: #0027D5;
  color: white;
  border-radius: 40px;
  padding: 6px 12px;
}

@media (max-width: 960px) {
  .featured {
    flex-direction: column;
  }
  .featured .featuredImg {
    width: 100%;
    height: 375px;
  }
  .featured .featuredCon {
    padding: 48px 12px;
  }
}
.blogAll {
  padding: 80px 0px;
  max-width: 1320px;
  margin: 0 auto;
}
.blogAll .blogSearch {
  width: 416px;
  border-radius: 40px;
  border: 1px solid black;
  padding: 16px;
}
.blogAll .blogSearch .blogInput {
  border: none;
  padding: 0 8px;
}
.blogAll .blogList {
  flex-wrap: wrap;
}
.blogAll .blogList .blogItemS {
  max-width: 416px;
  margin: 24px 12px;
}
.blogAll .blogList .blogItemS p {
  font-size: 16px;
  margin-top: 8px;
}
.blogAll .blogList .tag {
  font-size: 24px;
  color: #0027D5;
  text-decoration: none;
}
.blogAll .blogList .content {
  color: #4B4B4B;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.blogAll .blogList .button {
  text-decoration: none;
  font-size: 16px;
  color: #4b4b4b;
  margin-top: 12px;
  padding: 8px 16px;
  border: 1px solid #000000;
  border-radius: 40px;
  display: inline-block;
}
.blogAll .page li {
  width: 40px;
}
.blogAll .page li .pageNum {
  text-decoration: none;
  color: #4B4B4B;
}
.blogAll .page li .pageNumAct {
  text-decoration: none;
  color: #0027D5;
}

.community {
  padding: 80px 0;
}
.community p {
  font-size: 32px;
}

@media (max-width: 768px) {
  .community {
    display: none;
  }
}/*# sourceMappingURL=all.css.map */